##
# @copyright  Copyright (C) {COPYRIGHT}. All rights reserved.
##

###########################################
# ======= Enable the Rewrite Engine =======

RewriteEngine On

###########################################
# ======== Joomla! API URL Routing ========
RewriteCond %{REQUEST_URI} !-f
RewriteCond %{REQUEST_URI} !-d
RewriteCond %{REQUEST_URI} !^/img
RewriteCond %{REQUEST_URI} !^/css
RewriteCond %{REQUEST_URI} !^/js
RewriteCond %{REQUEST_URI} !^/themes
RewriteRule (.*) index.php

###########################################